In [62]:
import numpy as np
import pandas as pd
import seaborn as sb

In [63]:
df = pd.read_csv('world-happiness-report.csv')
df21 = pd.read_csv('world-happiness-report-2021.csv')

In [64]:
# add feature on regional indicator from the 2021 file to df
df = pd.merge(df,df21[['Country name','Regional indicator']], on = 'Country name')

In [65]:
df.head()

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect,Regional indicator
0,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258,South Asia
1,Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237,South Asia
2,Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275,South Asia
3,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267,South Asia
4,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268,South Asia

In [68]:
#get a list of unique country names
Country_names = set(df['Country name'])

cm = []
for name in Country_names:
    if (2020 in df[df['Country name'] == name].year.tolist()) and (2019 in df[df['Country name'] == name].year.tolist()):
        cm.append(name)
len(cm)

93

In [71]:
#filter data to get countries which have data for both 2019 and 2020
data = df[df['Country name'].isin(cm) & df.year.isin([2019,2020]) ]

In [94]:
data2019 = data[data.year==2019].groupby('Regional indicator')[['Life Ladder', 'Negative affect', 'Positive affect']].mean()
data2020 = data[data.year==2020].groupby('Regional indicator')[['Life Ladder', 'Negative affect', 'Positive affect']].mean()

In [95]:
data2019

,Life Ladder,Negative affect,Positive affect
Regional indicator,,,
Central and Eastern Europe,5.868733,0.233733,0.653000
Commonwealth of Independent States,5.465571,0.204429,0.691714
East Asia,5.785667,0.199167,0.747333
Latin America and Caribbean,6.080364,0.315273,0.813545
Middle East and North Africa,5.573300,0.342000,0.621000
North America and ANZ,7.123000,0.230500,0.805750
South Asia,4.181500,0.417500,0.592500
Southeast Asia,5.383800,0.306200,0.820200
Sub-Saharan Africa,4.546286,0.297929,0.707143
Western Europe,6.994105,0.240211,0.760789

In [96]:
data2020

,Life Ladder,Negative affect,Positive affect
Regional indicator,,,
Central and Eastern Europe,6.022000,0.278733,0.690600
Commonwealth of Independent States,5.641571,0.255714,0.701000
East Asia,5.956500,0.205167,0.710167
Latin America and Caribbean,5.660182,0.345545,0.778000
Middle East and North Africa,5.421300,0.348444,0.628222
North America and ANZ,7.111750,0.254000,0.800250
South Asia,4.752500,0.357500,0.667000
Southeast Asia,5.011400,0.338000,0.817400
Sub-Saharan Africa,4.761571,0.301143,0.700357
Western Europe,6.919421,0.256421,0.740947